$base-spacing-unit: 0.25 !default;

$heading-font-family: 'Abril Fatface', 'Playfair Display', serif !default;
$heading-alt-font: 'abril-text', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default !default;

$body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$body-font-family-web: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;